<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="displaySearch()">
        <ion-icon name="md-search" ></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button icon-only (click)="goToCategory()">
        <ion-icon name="md-briefcase"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>

  <!--search bar-->
  <!--end search bar-->


  <div>
    <ion-segment [(ngModel)]="cat">
      <ion-segment-button value="men">
        New
      </ion-segment-button>
      <ion-segment-button value="women">
        Hot
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="cat">
    <ion-list *ngSwitchCase="'men'">
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let movie of movies" col-4 (click)="goToMovieDetail(movie)">
              <img src="{{movie.VideoUrl}}" />
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>




    <ion-list *ngSwitchCase="'women'">
     <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let movie of movies" col-4>
              <img src="{{movie.VideoUrl}}" />
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>
</ion-content>